/* ———————————————— UNIVERSAL ———————————————— */
body {
  background: #fafafa;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #504a5a;
  margin: auto;
  padding: 0 20px;
  max-width: 700px;
  background-image: url(assets/bkg.png);
}

img {
  border-radius: 4px;
  max-width: 100%;
}

a, summary {
  color: #de6548;
}

a:hover, summary:hover {
  color: #be2c00;
}



/* ———————————————— HERO IMAGERY ———————————————— */
header {
  margin: 0 0 32px;
}

img#top {
  background-image: url(assets/hero/me_photo.png),
                    radial-gradient(rgba(250, 250, 250, .00) 25%,
                                    rgba(250, 250, 250, .50) 50%),
                    url(assets/hero/me_bubbles.gif);
  background-size: cover;
}



/* ———————————————— TEXT HIERARCHY ———————————————— */
/* HERO AREA */
h1, header, footer { text-align: center; }

h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 56px;
  margin: 32px 0 12px;
}

h1>i {
  padding: 0 8px;
  box-shadow: inset 0px -24px 0px 0px #FFBC60;
  background-color: transparent;
}

h1::before {
  display: block;  
  font-size: 16px;
  color: #6c6479;
  content: 'La casa di';
}

/* BODY HEADINGS */
h2 {
  margin: 80px 0 8px;
}

h3 {
  margin: 24px 0 6px;
  padding-bottom: 0;
  font-size: 19px
}

h3>a {
  text-decoration: none;
}

h3>a::after {
  content: "→";
  transition: all .1s ease-in-out;
  padding-left: 4px;
}

h3>a:hover::after {
  padding-left: 8px;
}

/* BODY COPY */
blockquote {
  font-size: 19px;
  line-height: 1.6;
  margin: 0 0 16px;
  letter-spacing: -.01em;
}

p {
  font-size: 16px;
  line-height: 1.45;
  margin: 0 0 12px;
}

footer {
  border-top: 1px solid #beb5ce;
  padding-top: 16px;
  margin-top: 40px;
}



/* ———————————————— FUNCTIONAL TEXT ———————————————— */
/* UNDERLINE */
i {
  font-style: normal;
  /*box-shadow: inset 0px -10px 0px 0px rgb(255, 188, 96, .3);*/
  background-color: rgb(255, 188, 96, .3);
}

/* TOOLTIP */
abbr {
  text-decoration: none;
  font-variant: none;
  border-bottom: 2px dotted #FFBC60;
  cursor: help;
}

/* PROJECT CARDS */
.project {
  margin: 0 0 40px 0;
  padding: 16px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0px rgb(20, 11, 56, .2);
}

.project:first-of-type {
  margin-top: 32px;
}

/* Title area */
.project > h3 {
  margin: 0 0 12px;
}

.logo {
  display: inline;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 100px;
}

/* Main image */
.project > img {
  margin: 0px -16px;
  max-width: calc(100% + 32px);
  border-radius: 0;
}

/* Year, tags, link */
.project > div {
  margin: 12px 0;
}

.stats {
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  max-width: 75%;
}

.link {
  display: block;
  float: right;
  max-width: 25%;
  font-size: 14px;
  text-transform: none;
  color: #beb5ce;
}

/* Expand link */
summary {
  background-color: transparent;
  margin-top: 0px;
  padding-left: 12px;
  margin: 8px -16px -16px;
  padding: 8px 16px;
  background-color: rgb(222, 101, 72, .1);
  outline-color: #de6548;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

summary:hover {
  padding: 8px 24px;
  background-color: rgb(222, 101, 72, .2);
}

/* Collapse link */
.closeit {
  display: block;
  max-width: calc(100% + 32px);
  margin: 0px -16px -16px -16px;
  padding: 8px 16px 8px;
  border-radius: 0px 0px 8px 8px;
  background-color: rgb(222, 101, 72, .1);
  outline-color: #de6548;
  text-align: center;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

.closeit:hover {
  padding: 5px 16px 11px;
  background-color: rgb(222, 101, 72, .2);
}

/* Project details */
details {
  background-color: #FFBC60;
  border-radius: 4px 4px 12px 12px;
  background-color: white;
}

details > div {
  margin: 32px 0 0 0;
}

/* Project details text content */
h4 {
  display: inline-block;
  margin: 32px 0 8px;
  font-size: 17px;
  box-shadow: inset 0px -8px 0px 0px rgb(255, 188, 96);
}

details h4:first-of-type {
  margin-top: 8px;
}

details img {
  margin: 8px 0;
}



/* ———————————————— GRID LAYOUT ———————————————— */
/* General grid area */
.grid {
  display: flex;
  justify-content: space-between;
}

/* 3-across images (gifs) */
.threecol {
  max-width: 33%;
}

/* 3-across text (additional projects) */
.threecol.text {
  max-width: 31%;
}

.threecol > h4 {
  margin-top: 16px;
  box-shadow: none;
}
.threecol > h4 > .logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.threecol > .link {
  float: none;
}

@media only screen and (max-width: 500px) {
  .grid {
    flex-direction: column;
  }
  .threecol.text {
    max-width: 100%;
  }
}



/* ———————————————— INLINE BUTTON ———————————————— */
button {
  border-radius: 6px;
  border: 1px solid #de6548;
  font-size: 14px;
  padding: 3px 5px 1px 6px;
  color: #de6548;
  cursor: pointer;
  background-color: transparent;
  transition: all .1s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #de6548;
}
